:root{
  --primary: #e96dff;
  --secondary: #ff68a0;
  --danger:#ffc774;
  --active: #ffffb4;
  --button:#dbffff;
}
body {
  display: grid;
  justify-content: center;
  background-image: linear-gradient(to top left, red, rgb(255, 196, 0));
  font-family:'Ubuntu', sans-serif;
}
#root{
  display: grid;
  justify-content: center;
  background-color: #fff;
  width: 400px;
  border-radius: 15px;
  box-shadow: 5px 5px 20px gray;
}
